.row.padded {
	margin-top: 20px;
}

html {
	min-height: 100%;
}

body {
	background-image: linear-gradient(to top, #483D8B, #4B0082);
}

.main-panel {
	margin: auto;
	margin-top:40px;
}

.question-panel {
	min-height: 300px;
	background-color:darkblue;
	color:gold;
	box-shadow: 0px 5px 5px 3px #000;
}

#leaderTable {
	visibility: hidden;
}

/* fa circle colors */
.fa_red {
	color: red;
}
.fa_green {
	color: green;
}

.fa_user_color {
	color: #fdfdfd;
	font-size: 1.5em;
}

.fa_user_color:hover {
	color: grey;
}

.nounderline {
  text-decoration: none !important
}


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

@media screen and (min-width: 992px) {
	.carousel-control-prev {
	  margin-left: -100px;
	}
	
	.carousel-control-next {
	  margin-right: -100px;
	}
	
	.carousel-control-next-icon {
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}
	
	.carousel-control-prev-icon {
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}
}

.carousel {
	flex-grow: 1;
}

i.far {
  line-height: inherit;
}

a:hover {
    color: darkblue;
}

a {
	color: #5c90dd;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {

    background-image: linear-gradient(0deg,#3173d5 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);

}

.lds-ring {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fdfdfd;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fdfdfd transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.material-icons {
	color: #fdfdfd;
}

.btn.bmd-btn-fab {
	box-shadow: 0 1px 1.5px 0 #000, 0 1px 1px 0 #000;
}

#entry, #submit-button, #answer-button, .btn.btn-secondary.btn-block, #player-name {
	color: #fdfdfd;
}

.navbar {
	box-shadow: 0 2px 2px 0 black,0 3px 1px -2px black,0 1px 5px 0 black;
	background-color: darkblue;
}

.dropdown-menu {
	background-color: darkblue;
	box-shadow: 0 2px 2px 0 black,0 3px 1px -2px black,0 1px 5px 0 black;
}

.dropdown-item, .close, .btn {
	color: #fdfdfd;
}

#brand {
    max-width: 100%;
    height: auto;
    width: auto;
}

.modal-content {
	background-color: darkblue;
	color: #fdfdfd;
}

.th-inner, td, th {
	color: #fdfdfd;
	border-color: black;
}