html, body {
	overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 10%;
}

.box {
    width: 300px;
    margin: 5px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    width: auto;
}

#index-leader-link, #startButton, #player_name {
	color: #fff;
}